// NOTE: Nvidia high VRAM fix
// https://github.com/YaLTeR/niri/wiki/Nvidia

// https://kdl.dev
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

// --- Misc ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous
overview {
    backdrop-color "@backdrop_color@"

    workspace-shadow {
        softness 40
        spread 10
        offset x=0 y=10
        color "@shadow_color@"
    }
}

hotkey-overlay {
    skip-at-startup
}

// --- Input devices ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
            variant "altgr-intl"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
        accel-profile "flat"
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="95%"
}

gestures {
    hot-corners {
        off
    }
}

// --- Output devices ---
// `niri msg outputs`
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    mode "1920x1080"
    scale 1.0
}

output "DP-4" {
    mode "2560x1440@164.834"

    focus-at-startup
    scale 1.0
}

output "DP-3" {
    mode "1920x1080@144.001"

    scale 1.0
}

// --- Named workspaces ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Named-Workspaces
// workspace "browser" {
//     open-on-output "DP-3"
// }

// workspace "chat" {
//     open-on-output "DP-3"
// }

// --- Window position and size ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // gaps 0

    gaps 16
    struts {
     // left 16
     // right 16
     top -4
     bottom -4
    }

    center-focused-column "never"
    always-center-single-column

    // NOTE Mod+R
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 1
        active-color "@active_color@"
        inactive-color "@inactive_color@"
    }

    // NOTE: can probably be removed
    border {
        off
        width 1
        active-color "@active_color@"
        inactive-color "@inactive_color@"
        urgent-color "@urgent_color@"
    }
}

// --- Spawn processes ---
// Most handled with systemd services (swayidle, swaybg, etc.)
// https://github.com/YaLTeR/niri/wiki/Example-systemd-Setup
// 
// TODO: do more with systemd here
spawn-at-startup "noctalia-shell"
spawn-at-startup "xwayland-satellite"

environment {
    DISPLAY ":0"
}


// --- Misc ---
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// --- Animation ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // off
    // slowdown 0.1
}

// --- Window rules ---
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    match app-id=r#"pavucontrol"#
    open-floating true
}

window-rule {
    match app-id="Darktable"
    open-floating true
}

window-rule {
    match app-id=r#"^kitty$"# title=r#"rmpc-floating"#
    open-floating true
}

window-rule {
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#
    open-floating true
}

// Mostly for Satisfactory, some games have their own app-id
window-rule {
    match app-id=r#"^steam_app_"#
    open-maximized true
    open-fullscreen true
    open-focused true
}

// gamescope is not affected by steam_app_*
window-rule {
    match app-id=r#"^gamescope"#
    open-maximized true
    open-fullscreen true
    open-focused true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Extension:"
    open-floating true
}

// -- global window rule
window-rule {
    geometry-corner-radius 0 // leaving in case i want to round later
    clip-to-geometry true
}

window-rule {
    match is-focused=false
    opacity 0.90
}

// --- Keybind settings ---
// /usr/include/X11/keysymdef.h
// https://github.com/jwrdegoede/wev
// `wev`
binds {
    // Mod-?,
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+B hotkey-overlay-title="Firefox" { spawn "firefox"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }

    // https://docs.noctalia.dev/getting-started/keybinds
    Mod+D hotkey-overlay-title="Run Application: noctalia-shell" { spawn "noctalia-shell" \
                                                                    "ipc" "call" \
                                                                    "launcher" "toggle"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: noctalia" { spawn "noctalia-shell" \
                                                                    "ipc" "call" \
                                                                    "lockScreen" "lock"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "volume" "increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "volume" "decrease"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "volume" "muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "volume" "muteInput"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "media" "playPause"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "media" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "media" "previous"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" \
                                                    "ipc" "call" \
                                                    "brightness" "decrease"; }
    

    Mod+O repeat=false { toggle-overview; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E hotkey-overlay-title="Run Application: noctalia-shell" { spawn "noctalia-shell" \
                                                                            "ipc" "call" \
                                                                            "sessionMenu" "toggle"; }
    Ctrl+Alt+Delete { quit; }
}
